/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111111; /* Dark background color */
    color: #ffffff; /* White text color for contrast */
}

/* Centering the text for all sections */
header, section, footer {
    text-align: center;
}

/* Adding padding to sections for spacing */
header, section, footer {
    padding: 50px 20px;
}

/* Styling for the heading in the header */
header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* Styling for paragraph in header */
header p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
}

/* Styling for the buttons */
.cta-button {
    background-color: #3e8e41; /* Green button color */
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 20px;
    display: inline-block;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #45a049; /* Slightly lighter green when hovered */
}

/* Section Styling */
section {
    background-color: #1a1a1a; /* Darker background for sections to create contrast */
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Contact Form Styles */
#contact form {
    background-color: #222222; /* Slightly lighter background for the form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 600px;
}

#contact form label {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
    color: #f2f2f2;
}

#contact form input,
#contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #333333; /* Dark input fields */
    color: #f2f2f2;
}

#contact form textarea {
    resize: vertical;
}

/* Footer Styling */
footer {
    background-color: #333333;
    color: #f2f2f2;
    padding: 10px 20px;
    font-size: 1.1em;
}

/* Footer Links */
footer a {
    color: #3e8e41;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
